a:link {
    color: #1080FF;
    text-decoration: none;
}

a:hover {
    color: #333333;
    text-decoration: none;
}

a:visited {
    color: #666666;
    text-decoration: none;
}


.footer {
    padding-top: 20pt;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20pt;
    text-align: center;
    color: lightgray;
    background-color: rgba(0, 0, 0, 0.7);
}

.about {
    font-size: calc(1.5vw);
}

.license {
    font-size: calc(1.5vw);
}

