a:link {
    color: #1080FF;
    text-decoration: none;
    text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF;
    /* text-shadow: -1px 0 1px #FFFFFF, 0 1px 1px #FFFFFF, 1px 0 1px #FFFFFF, 0 -1px 1px #FFFFFF; */
}

a:hover {
    color: #333333;
    text-decoration: none;
    text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF;
}

a:visited {
    color: #666666;
    text-decoration: none;
    text-shadow: -1px 0 #FFFFFF, 0 1px #FFFFFF, 1px 0 #FFFFFF, 0 -1px #FFFFFF;
    /* text-shadow: -1px 0 2px #FFFFFF, 0 1px 2px #FFFFFF, 1px 0 2px #FFFFFF, 0 -1px 2px #FFFFFF; */
}


.footer {
    padding-top: 20pt;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20pt;
    text-align: center;
    color: lightgray;
    background-color: rgba(0, 0, 0, 0.7);
}

.about {
    font-size: calc(1.5vw);
}

.license {
    font-size: calc(1.5vw);
}

.button  {
    text-transform: none !important;
    font-size: 10px;
    padding: 0 !important;
    background-color: black;
    color: white;
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: ;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

.podcasticon {
    width: 165px;
    height: 40px;

}

.listenon {
}

