.container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.forecast-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    /* height: 1080px; */
    align-items: top;
    background-color: rgba(100, 100, 100, 0.8);
}

.title {
    padding-top: 20pt;
    padding-bottom: 20pt;
    font-size: calc(4vw + 2vh);
}

.datetitle {
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.header {
    padding-top: 10pt;
    padding-bottom: 10pt;
    text-align: center;
    font-size: calc(3vw);
    background-color: rgba(255,255,255,0.5);
}

.bordered {
    border-left: 1pt black solid;
    border-right: 1pt black solid;
    border-top: 2pt black solid;
    width: 20%;
    text-align: center;
    vertical-align: middle;
}

.forecast-picture {
    padding-top: 10pt;
    padding-bottom: 10pt;
}

.forecast-picture img {
    max-width: 90%;
    height: auto;
}

.forecast {
    padding-top: 10pt;
    padding-bottom: 10pt;
    text-align: center;
    font-size: calc(2.5vw);
    color: lightgray;
    background-color: rgba(0, 0, 0, 0.8);
}

.hightemp {
    padding-top: 10pt;
    padding-bottom: 10pt;
    text-align: center;
    font-size: calc(8vw);
    background-color: rgba(255,255,255,0.5);
    border-bottom: black;
}

.notes {
    margin: 0;
    padding: 0;
    padding-top: 10pt;
    padding-bottom: 10pt;
    font-size: larger;
    background-color: rgba(100,100,100,0.8);
}

.lowtemp {
    padding-top: 10pt;
    padding-bottom: 10pt;
    text-align: center;
    font-size: calc(4vw);
    background-color: rgba(255,255,255,0.5);
    border-top: black;
}

.footer {
    padding-top: 20pt;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    color: lightgray;
    background-color: rgba(0, 0, 0, 0.7);
}

.about {
    font-size: calc(1.5vw);
}

.license {
    font-size: calc(1.5vw);
}

